body {
  background-color: #e6ecf0;
}

/* Nav */

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar-brand > img {
  display: inline-block;
  width: 40px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-image: url("../images/nav-bg.png");
  background-size: 100% 100%;
}

.home-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: left;

    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

    background-image: url("../images/signed-out-home.jpg");
    background-size: cover;
    background-position: center;
}

.list-group-item {
    display: flex;
}

.list-group-item .message-area {
    margin-left: 10px;
}

.list-group-item > img {
    width: 100px;
    height: 100px;
}

#sidebar-pic {
    padding: 0 5px;
}

.logo-text {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.2);
    font-size: 1.9rem;
    margin-left: 5px;
    font-weight: 400;
}

.logo-text:hover {
    color: white;
}
